@model SpellsReference.Models.ViewModels.SpellbookViewModel

@{
    ViewBag.Title = "Change Spellbook Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Spellbook", FormMethod.Post, new { id = "EditSpellbook" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(sb => sb.Name)
            @Html.TextBoxFor(sb => sb.Name, new { @class = "form-control" })
        </div>
    </div>

    <div>
        <button id="EditSpellbookButton" type="submit" class="btn btn-success btn-lg">Submit</button>
        @Html.ActionLink("Cancel", "Select", "Spellbook", new { id = Model.Id }, new { @class = "btn btn-outline-danger btn-lg" })
    </div>
}