@model SpellsReference.Models.ViewModels.SpellListViewModel

@{
    ViewBag.Title = "Spell Index Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.ActionLink("Create Spell", "Create", "Spell", null, new { @class = "btn btn-outline-primary btn-lg mb-2" })

@using (Html.BeginForm("Index", "Spell", FormMethod.Get))
{
    <div>
        @Html.LabelFor(model => model.School)
        @Html.EnumDropDownListFor(model => model.School, null, htmlAttributes: new { })
    </div>
    <div>
        @Html.LabelFor(model => model.Level)
        @Html.DropDownListFor(model => model.Level, Model.LevelSelectItems, optionLabel: "")
    </div>
    <div>
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>School</th>
            <th>Casting Time</th>
            <th>Range</th>
            <th>Verbal</th>
            <th>Somatic</th>
            <th>Materials</th>
            <th>Duration</th>
            <th>Ritual</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var spell in Model.Spells)
            {
            <tr>
                <td>@spell.Name</td>
                <td>@spell.Level</td>
                <td>@spell.School</td>
                <td>@spell.CastingTime</td>
                <td>@spell.Range</td>
                <td>@spell.Verbal</td>
                <td>@spell.Somatic</td>
                <td>@spell.Materials</td>
                <td>@spell.Duration</td>
                <td>@spell.Ritual</td>
                <td>@spell.Description</td>
                <td>@Html.ActionLink("Select", "Select", "Spell", new { id = spell.Id }, new { @class = "btn btn-info btn-sm" })</td>
            </tr>
        }
    </tbody>
</table>